*{
    padding:0px;
    margin:0px;
}
.b{
    padding: 100px;
    color: seagreen;
    font-size:medium;
    font-weight: bold;
}

body{
    background-size: cover;
}
.back{
    text-decoration: none;
    color: purple;
    margin-right: 30px;
    padding:2px;
    background-color: turquoise;
    font-weight: bold;
    font-style: italic;
    border: black;
}
#sub{
    color: aliceblue;
    font-weight: bold;
}
#sub:hover{
    text-decoration: none;
    
    
    

}